.did {
  background-color: #ff413f;
  color: white;
  margin: 10px;
  border-radius: 10px;
  height: 200px;
}

.didTitle {
  font-size: 100px;
  font-weight: 600;
  text-align: left;
  padding: 15px;
}
