.keep {
  background-color: #ffe459;
  margin: 5px;
  padding: 20px;
  margin-right: 10px;
  border-radius: 10px;
  width: 50%;
}
<<<<<<< HEAD
=======

.keepTitle {
  font-size: 30px;
  padding: 10px;
}
>>>>>>> 9a10ad3c7e76e3d028b8bfa01025755b61e1b99b
