/* .todo {
  background-color: antiquewhite;
  margin: 10px;
  padding: 30px 0 50px 0;
  border-radius: 10px;
} */
/* .title {
  font-size: 80px;
  font-family: 'Ultra', serif;
  font-weight: 400;
} */

/* .content-pop {
  background-color: antiquewhite;
}

.content-pastel {
  background-color: #f9f9f9;
}

.content-retro {
  background-color: #fff1ce;
} */
